<h1>Projects List</h1>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Project Description</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ObjProject of project">
            <td>{{ ObjProject.projectID }}</td>
            <td>{{ ObjProject.projectName }}</td>
            <td>{{ ObjProject.projectDesc }}</td>
            <td><a class='btn btn-primary' [routerLink]="['/AddProjectPerson']" [queryParams] =" {ProjectID : ObjProject.projectID, ProjectName : ObjProject.projectName}"  >
   
   Add Person
</a>
              </td>
        </tr>
    </tbody>

  
</table>
