<h3>Welcome to Project Management System!</h3>

<p>To help you get started, I have put some brief about this app menu items as below:</p>
<ul>
    <li><strong>Projects</strong>: It shows all available projects with posibility to see the people inside the project and possibility to add new person to project</li>
    <li><strong>People</strong>:It shows list of available people.</li>
    <li><strong>Add Project</strong>:This page allow user to add new project.</li>
    <li><strong>Add Person</strong>: This page allow user to add new person.</li>

</ul>
